<app-menu></app-menu>

<section class="contenido">

      <!-- Tabla con los datos de la lista y la opcion con el boton de enlace -->

    <table class="table-info table table-striped" style="text-align: center">
        <thead>
          <tr>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Description</th>
            <th scope="col">Categoría</th>
            <th scope="col">Enlace</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let L of Lista">
            <th scope="row"><img src="{{L.imagen}}"  width="60" height="48"></th>
            <td>{{L.nombre}}</td>
            <td>{{L.descripcion}}</td>
            <td>{{L.categoria}}</td>
            <td><a href="{{L.link}}" target="_blank"><button type="button" class="btn btn-outline-warning"><i class="fa-solid fa-link"></i></button></a></td>
             </tr>
        </tbody>
      </table>

</section>